* {
  font-family: sans-serif;
}

.fa-cc-paypal {
  font-size: 50px;
  color: #3b7bbf;
}

.fa-cc-visa {
  font-size: 50px;
  color: #172274;
}

.fa-cc-mastercard {
  font-size: 50px;
  color: black;
}

.fa-cc-amex {
  font-size: 50px;
  color: #002663;
}

.fa-facebook-square {
  font-size: 50px;
  color: #4267b2;
}

.fa-instagram-square {
  font-size: 50px;
  color: #c13584;
}

.fa-twitter-square {
  font-size: 50px;
  color: #1da1f2;
}

.fa-youtube {
  font-size: 50px;
  color: #ff0000;
}

.payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-methods h3 {
  text-align: center;
}

.payment-methods-options i {
  padding: 5px;
}

.countries h3 {
  text-align: center;
  padding-bottom: -50px;
}

.countries ul {
  list-style: none;
}

.countries img {
  height: 30px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media i {
  padding: 5px;
}

.social-media h3 {
  text-align: center;
}

.countries-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries-items h4 {
  padding: 0 10px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.countries-items img {
  padding: 0px;
}

.countries-items td {
  padding: 5px 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

body {
  margin: 0px;
}
h3 {
  margin: 2mm;
  font-family: "Open Sans", sans-serif;
}
